/* CSS files add styling rules to your content */

body {
  font-family: monospace;
  margin: 0;
  padding: 10px;
  background-color: rgb(20, 210, 220);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color:#f00;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#rows {
  display: flex;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px 3px;
  text-align: center;
  margin: 2px;
  font-size: 1rem;
  background-color: rgba(200, 230, 210, 0.8);
  width: 100px;
  color: #111;
  border: 2px solid #111;
  text-transform: uppercase;
}

li.selected {
  background-color: rgb(20, 200, 150);  
}

textarea {
  display: none;  
}

.submitted {
  background-color: rgba(10, 200, 100, 0.8);  
}