/* CSS files add styling rules to your content */

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: rgb(20, 210, 220);
}

#rows {
  display: flex;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px 3px;
  margin: 1px;
  background-color: rgba(100, 130, 110, 0.8);
  width: 200px;
  color: rgba(200, 230, 210, 0.7);
}

textarea {
  display: none;  
}