/* CSS files add styling rules to your content */

body {
  font-family: monospace;
  margin: 0;
  padding: 10px;
  background-color: rgb(20, 80, 190);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#rows {
  display: flex; 
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px 3px;
  text-align: center;
  margin: 2px;
  font-size: 0.9rem;
  background-color: rgba(250, 250, 250, 0.8);
  width: 100px;
  color: #111;
  opacity: 0.6;
}

li.selected {
  background-color: rgb(20, 200, 150);  
  color: rgb(200, 100, 10);
}

li:hover {
  opacity: 0.95
}

textarea {
  display: none;  
}

.submitted {
  background-color: rgba(10, 200, 100, 0.8);  
  opacity: 1.0;
}